* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1550px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    font-size: 20px;
}


.btn {
    border: 0;
    border-radius: 7px;
    padding: 10px 30px;
    background-blend-mode: overlay;
    background: linear-gradient(90deg, rgba(221, 211, 239, 0.55) 0%, #FDD9FF 36.58%, #B2E0FE 87.8%);

}


.btn1 {
    border: 0;
    background-color: white;
    font-size: 40px;
    display: none;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
    padding: 50px;
}

.hero-left {
    max-width: 50%;
}

.hero-left h1 {
    font-size: 55.1px;
    padding-bottom: 20px;
}

.hero-left p {
    padding-bottom: 30px;
}

.button {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn2 {
    border: 1.15px solid grey;
    border-radius: 7px;
    padding: 10px 30px;
    background-color: white;
}


.hero-right {
    max-width: 50%;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgba(0, 0, 0, 1);
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.frame11 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}


.frame4 {
    padding: 30px;
    box-shadow: 16px 16px 35px 0px rgba(0, 0, 0, 0.09);
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.input {
    padding: 10px 30px;
}

.btn3 {
    background-color: black;
    border: 0;
    border-radius: 5px;
}

.btn3 i {
    color: white;
    font-size: 30px;
}


.section {
    text-align: center;
    max-width: 100%;
    background: linear-gradient(90deg, rgba(221, 211, 239, 0.55) 0.31%, #F1E1F2 40.28%, rgba(220, 225, 246, 0.71) 60.06%, rgba(174, 224, 255, 0.13) 97.93%);
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.section h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.div2 input {
    width: 438.38px;
    height: 47.9px;
    border-radius: 4px;
}

.btn4 {
    padding: 15px 30px;
    background-color: black;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

.footer {
    padding-top: 50px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.footer-top ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    font-size: 20px;
}


.footer-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
}


.footer-bottom i {
    font-size: 30px;
    padding-top: 70px;
    padding-left: 70px;
}


@media (max-width: 1000px) {
    .hero-right img {
        width: 300px;
        height: 300px;
    }

    .header ul {
        gap: 40px;
    }
}


@media (max-width: 964px) {
    .hero-right img {
        display: none;
    }

    .hero-right {
        width: 100%;
    }
}


@media (max-width: 428px) {
    .header ul {
        display: none;
    }

    .button1 {
        display: none;
    }

    .btn1 {
        display: block;
    }

    .frame11 {
        flex-direction: column;
    }

    .main {
        flex-direction: column;
    }

    .section h1 {
        font-size: 25px;
    }

    .div2 {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .footer-top {
        gap: 10px;
        padding: 10px;
    }

    .footer-top ul {
        gap: 10px;
        font-size: 15px;
    }
}

